<div class="login-main" fxLayout="row" fxLayoutAlign="center center">
  <div class="login-heading">
    <p class="font">
      <span style="color: #4285f4;">F</span>
      <span style="color: red;">u</span>
      <span style="color:#f4b400;">n</span>
      <span style="color: #4285f4;">d</span>
      <span style="color: #0f9d58;">o</span>
      <span style="color: red;">o</span>
    </p>
    <h1 class="font">Sign in</h1>
    <h3 class="font">Use your Fundoo Account</h3>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

      <div class="login-fields">
         <mat-form-field [style.fontSize.px]="14" appearance="outline"
          style="width: 100%; padding-top: 5%;padding-left: -1%;">
          <mat-label>Email or phone</mat-label>
          <input matInput class="name-ip" formControlName="email">
          <mat-error>Enter an Email or phone number</mat-error>
        </mat-form-field> 

        <mat-form-field [style.fontSize.px]="14" appearance="outline"
          style="width: 100%; padding-top: 2%; padding-left: -1%;">
          <mat-label>Password</mat-label>
          <input matInput class="name-ip"  type =  "password" formControlName="password">
          <mat-error>Enter a password </mat-error>
        </mat-form-field>

        <div style="margin-top: -19px;">
          <button mat-button class="button1" routerLink="/forget">Forget email?</button>
        </div>
      </div>
      <p class="para"> Not your computer? Use Guest mode to sign in privately.</p>
      <p id="login-para">Learn more</p>

      <div class="button-section2" fxLayoutAlign="space-between" style="padding-top: 6%;">
        <button mat-button class="create-button" routerLink="/register">Create account</button>
        <button mat-raised-button class="next-button" type="submit" routerLink="/dashboard">Next</button>
      </div>
    </form>
  </div>
</div>