.forget-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.forget-heading {
    width: 25%;
    height: 60vh;
    margin-top: 5%;
    padding: 48px 40px 36px;
    font-size: 23px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.font {
    text-align: center;
    margin-top: 16px;
    line-height: 1.1;
}

.forget-fields {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 6%;
    padding-left: -1%
}

 .mat-form-field-appearance-outline .mat-form-field-infix {
     padding: none !important; 
 }

.next-button {
    background-color: blue;
    color: white;
    margin-left: 490%;
    
}

@media only screen and (min-device-width: 375px) and (max-device-width: 677px) and (-webkit-min-device-pixel-ratio: 1) {
    .forget-heading {
        width: 65%;
        margin-top: 1%;
        padding-right: 43%;
        font-size: 23px;
        border: none;
    }
}