<div fxLayoutAlign="center none" class="main-note-div">
    <div class="notemain">
        <mat-card class="addnote" *ngIf="isVisible" (click)="expandCreateNote()">
            <input type="text" class="input" placeholder="Take a note...">
            <span fxLayout="row" *ngIf="isVisible" fxLayout="space between end " fxLayout="2px">
                <img src="../../../assets/icons/check_box_black_24dp.svg" alt="" style="margin-right: 10px;">
                <img src="../../../assets/icons/brush_black_24dp.svg" alt="" style="margin-right: 10px;">
                <img src="../../../assets/icons/insert_photo_black_24dp.svg" alt="">
            </span>
        </mat-card>

        <div *ngIf="!isVisible" class="notemain">
            <mat-card class="addnote">
                <textarea style="overflow: hidden;" class="input" placeholder="Take a note..."></textarea>
                
                <div>
                    <app-icons></app-icons>
                    <button (click)="expandCreateNote()" mat-button class="closebutton"
                        style="margin-left: 70vh;">Close</button>
                </div>
            </mat-card>

        </div>
    </div>
</div>