.main-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;

}

.container {
    width: 45%;
    padding: 3%;
    font-size: 23px;
    border-radius: 10px;
    border: 1px solid lightgray;
}

.reg-form {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.fields {
    width: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.btn {
    background-color: blue;
    color: white;
    margin: 1px;
    width: 71px;
    margin-top: 29px;
}

.logo {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.mat-form-field-appearance-outline .mat-form-field-infix {
     padding: none !important; 
 }
 
.lable {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding-right: 5%;
    letter-spacing: inherit;
    font-size: 12px;
    color: gray;
}

.example-section {
    font-size: 14px;
    color: black;
}

.reg-sign {
    margin-right: 44%;
    padding-top: 6%;
    font-size: 17px;
    color: blue;
}

#logo-font {
    font-size: 16px;
    font-weight: 300;
    padding-left: 30px;

}

@media only screen and (min-device-width: 300px) and (max-device-width: 851px) and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        width: 86%;
        height: fit-content;
        padding: 3%;
        font-size: 23px;
        border: none;
    }

    .logo {
        display: none;

    }

    .fields {
        width: 333px;
    }

    .mat-form-field {
        display: inline-block;
        position: relative;
        text-align: left;
        width: 333px;
    }

    .mat-form-field-wrapper {
        position: relative;
        width: 333px;
    }

    .main-content {
        margin: -4px;
    }

    .btn {
        margin-top: -23px;
        margin-left: 193px;
    }

    #reg-sign {
        padding-top: 5%;
    }

}


@media only screen and (min-device-width: 820px) and (max-device-width: 1180px) and (-webkit-min-device-pixel-ratio: 1) {
    .container {
        width: 69%;
        height: 55vh;
        padding: 3%;
        margin-top: 210px;
        font-size: 23px;
        border-radius: 10px;
        border: 1px solid lightgray;
    }

    .main-conten {
        margin: 19px;
        margin-top: 227px;
    }

    .fields {
        width: 100%;
    }

    .media {
        width: 44%;
    }
}
